@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'MarvinVisions';
  src: url('../fonts/MarvinVisions-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: bold;
}