{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

</head>
<body class="bg-gray-100 text-gray-800">

    {% block content %}

    {% endblock content %}
</body>
</html>

